/* Features Section */
#features {
  background: #f6f6f6;
  padding: 50px 0; 
  /* overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center;  */
}

#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #1646a9 0%, #4478ff 100%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05); /* Reduce box shadow */
}

#features h3 {
  margin-top: 5px; /* Reduce margin top */
  margin-bottom: 5px; /* Reduce margin bottom */
  font-size: 18px; /* Adjust font size for smaller screens */
}

#features p {
  font-size: 14px; /* Adjust font size for smaller screens */
}
